.input-element {
  @include _fs_lh_ls(14, 20, 0.01);
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 10px;
  text-align: left;
  color: $main-brand-color;
}

.input-element__entry-field,
.input-element__comment-field {
  width: 100%;
  @include _fs_lh_ls(14, 16, 0);
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: $light-background;
  color: $first-accent-color;
}

.input-element__entry-field {
  height: 40px;
  padding-left: 42px;
  transition: background-color 250ms linear, border-color 250ms linear;

  &:focus {
    background-color: $secondary-text-color;
    border-color: $main-brand-color;
    outline: none;
  }
}

.input-element__comment-field {
  margin-bottom: 20px;
  resize: none;
  min-height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  transition: background-color 250ms linear, border-color 250ms linear;

  &:focus {
    background-color: $secondary-text-color;
    border-color: $main-brand-color;
    outline: none;
  }

  &::placeholder {
    @include _fs_lh_ls(14, 16, 0);
    color: $description-text-color;
  }
}

.input-element__field-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.input-element__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: $main-brand-color;
  transition: fill 250ms linear;

  .input-element__entry-field:focus + & {
    fill: $first-accent-color;
  }
}

@media screen and (min-width: 1200px) {
  .input-element__comment-field {
    &::placeholder {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
