@keyframes logo-animation {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(0.91, 1.2);
  }
  55% {
    transform: scale(1, 0.7);
  }
  65% {
    transform: scale(1, 1.15);
  }
  75% {
    transform: scale(1, 0.8);
  }
  85% {
    transform: scale(1, 1.1);
  }
  95% {
    transform: scale(1, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes ellipse {
  0% {
    transform: translate(270px, 0);
  }
  25% {
    transform: translate(260px, -10px);
  }
  50% {
    transform: translate(250px, 0px);
  }
  75% {
    transform: translate(260px, 10px);
  }
  100% {
    transform: translate(270px, 0);
  }
}

@keyframes girl {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes milk {
  0% {
    transform: rotate(0);
  }
  2% {
    transform: rotate(5deg);
  }
  4% {
    transform: rotate(-5deg);
  }
  6% {
    transform: rotate(5deg);
  }
  8% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
