@keyframes logo-animation {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(0.9, 1.1);
  }
  55% {
    transform: scale(1, 0.7);
  }
  65% {
    transform: scale(1, 1.05);
  }
  75% {
    transform: scale(1, 0.8);
  }
  85% {
    transform: scale(1, 1.03);
  }
  95% {
    transform: scale(1, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: $tablet) {
  @keyframes ellipse {
    0% {
      transform: translateX(173px) rotate(0) scale(100%);
    }
    25% {
      transform: translateX(173px) rotate(90deg) scale(105%);
    }
    50% {
      transform: translateX(173px) rotate(180deg) scale(95%);
    }
    75% {
      transform: translateX(173px) rotate(270deg) scale(105%);
    }
    100% {
      transform: translateX(173px) rotate(360deg) scale(100%);
    }
  }
}

@media screen and (min-width: $desktop) {
  @keyframes ellipse {
    0% {
      transform: translateX(269px) rotate(0) scale(100%);
    }
    25% {
      transform: translateX(269px) rotate(90deg) scale(105%);
    }
    50% {
      transform: translateX(269px) rotate(180deg) scale(95%);
    }
    75% {
      transform: translateX(269px) rotate(270deg) scale(105%);
    }
    100% {
      transform: translateX(269px) rotate(360deg) scale(100%);
    }
  }

  @keyframes girl {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.02);
    }
    50% {
      transform: scale(1);
    }
    70% {
      transform: scale(0.98);
    }
    100% {
      transform: scale(1);
    }
  }
}
