// fonts
$main-font: 'DM Sans', arial, sans-serif;
$secondary-font: 'Titan One', cursive;

// colors
// text-colors
$main-text-color: #000000;
$secondary-text-color: #ffffff;
$description-text-color: #907e82;
// brand-colors
$main-brand-color: #d41443;
$secondary-brand-color: #ffa5ba;
// backgrounds
$accent-background: #ffb8ca;
$light-background: #fff5f6;
$modal-background: #e17992;
// accent-colors
$first-accent-color: #c7133e;
$second-accent-color: #ecebeb;
// fills
$first-cards-fill: #f0d1a5;
$second-cards-fill: #c2e297;
$social-icons-fill: #fea5bb;
$button-right-arrow-fill: #d7224d;
$home-btn-fill: #d31342;
// other elements colors
$dots-color: #d9d9d9;

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
// backdrop
$backdrop-background: rgba(212, 20, 67, 0.2);
// links
$link-text-color: #3c3c86;
//placeholder
$placeholder-color: rgba(212, 20, 67, 0.6);
