<section class="about" id="about">
  <div class="about__container container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__content">
      <picture class="about__pictureset">
        <source
          srcset="
            ./images/about/cow-desktop.webp    1x,
            ./images/about/cow-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/about/cow-desktop.png    1x,
            ./images/about/cow-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/about/cow-tablet.webp    1x,
            ./images/about/cow-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/about/cow-tablet.png    1x,
            ./images/about/cow-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/about/cow-mob.webp    1x,
            ./images/about/cow-mob@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/about/cow-mob.png    1x,
            ./images/about/cow-mob@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img
          class="about__image"
          src="./images/about/cow-desktop.png "
          alt="Cow"
        />
      </picture>
      <div class="about__text-container">
        <p class="about__main-text">
          All products are made in our state-of-the-art factory which uses
          specialized equipment that duplicates a home-churned experience. Our
          factory is designed to enhance product quality, maximize food safety
          and promote sustainability.
        </p>
        <p class="about__secondary-text">
          Organic milk, fresh double cream and cane sugar all come together to
          craft the most delicious ice cream we think you’ll ever taste. We’re
          obsessed with creating the most heavenly ice cream, using the natural
          flavours of vanilla, dark chocolate, roasted nuts and fresh seasonal
          fruits.
        </p>

        <p class="about__text">
          All products blended together with love to create proper dairy ice
          cream.
        </p>

        <button class="btn btn_theme_white about__btn" type="button">
          Read more
          <svg class="about__icon" width="6.5px" height="10px">
            <use href="./images/svg/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
