<section class="advantages">
<div class="container advantages__container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages list">
            <li class="advantages__item advantages__item--icon1">
                <p class="advantages__count">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--icon2">
                <p class="advantages__count">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--icon3">
                <p class="advantages__count">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>