<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <div class="contacts-item__cafe">cafe</div>
        <div class="contacts-item__wrapper">
          <p class="contacts-item__town">Chicago</p>
          <p class="contacts-item__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-item__wrapper">
          <p class="contacts-item__day">Monday - Friday</p>
          <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          <p class="contacts-item__day">Saturday - Sunday</p>
          <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="address">
          <ul class="address-list list">
            <li class="address-item">
              <a class="address-item__phone link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="address-item">
              <a
                class="address-item__email link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-item">
        <div class="contacts-item__foodtruck">foodtruck</div>
        <div class="contacts-item__wrapper">
          <p class="contacts-item__town">Los Angeles</p>
          <p class="contacts-item__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-item__wrapper">
          <p class="contacts-item__day">Monday - Friday</p>
          <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          <p class="contacts-item__day">Saturday - Sunday</p>
          <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="address">
          <ul class="address-list list">
            <li class="address-item">
              <a class="address-item__phone link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="address-item">
              <a
                class="address-item__email link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-item">
        <div class="contacts-item__cafe">cafe</div>
        <div class="contacts-item__wrapper">
          <p class="contacts-item__town">New York</p>
          <p class="contacts-item__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-item__wrapper">
          <p class="contacts-item__day">Monday - Friday</p>
          <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          <p class="contacts-item__day">Saturday - Sunday</p>
          <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="address">
          <ul class="address-list list">
            <li class="address-item">
              <a class="address-item__phone link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="address-item">
              <a
                class="address-item__email link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <div class="contacts-button-wrapper">
      <!-- <button class="contacts__btn btn" type="button">
        Our Locations
        <svg class="icon-arrow-location">
          <use href="./images/svg/icons.svg#icon-Vector-1"></use>
        </svg>
      </button>
      <button class="contacts-button__franchaise btn" type="button">
        Franchise
        <svg class="icon-arrow-franchise">
          <use href="./images/svg/icons.svg#icon-Vector-2"></use>
        </svg>
      </button> -->
      <button class="btn btn_theme_cherry contacts__btn" type="button">
        Our Locations
        <svg
        class="btn__icon btn__icon_theme_cherry btn__icon--margin-smaller"
        width="8"
        height="10"
        >
        <use href="./images/svg/icons.svg#icon-button-arrow"></use>
      </svg>
    </button>
    <button class="btn btn_theme_white contacts__btn" type="button">
      Franchise
      <svg
        class="btn__icon btn__icon_theme_white btn__icon--margin-smaller"
        width="8"
        height="10"
      >
        <use href="./images/svg/icons.svg#icon-button-arrow"></use>
      </svg>
    </button>
    </div>
  </div>
</section>
