<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <p class="contacts-item__title">CAFE</p>
        <div class="contacts-item__wrapper">
          <p>Chicago</p>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- add pseudo evelent before -->
        <div class="contacts-item__wrapper">
          <p class="contacts-item__day">Monday - Friday</p>
          <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          <p class="contacts-item__day">Saturday - Sunday</p>
          <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <!-- add pseudo evelent before -->
        <address class="address">
          <ul class="adress-list list">
            <li class="contacts-item">
              <a class="contacts-item__phone" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-item__email" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-item">
        <p class="contacts-item__title">FOODTRUCK</p>
        <div class="contacts-item__wrapper">
          <p>Los Angeles</p>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- add pseudo evelent before -->
        <div class="contacts-item__wrapper">
          <p class="contacts-item__day">Monday - Friday</p>
          <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          <p class="contacts-item__day">Saturday - Sunday</p>
          <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <!-- add pseudo evelent before -->
        <address class="address">
          <ul class="adress-list list">
            <li class="contacts-item">
              <a class="contacts-item__phone" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-item__email" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-item">
        <p class="contacts-item__title">CAFE</p>
        <div class="contacts-item__wrapper">
          <p>New York</p>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <!-- add pseudo evelent before -->
        <div class="contacts-item__wrapper">
          <p class="contacts-item__day">Monday - Friday</p>
          <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          <p class="contacts-item__day">Saturday - Sunday</p>
          <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
        </div>
        <!-- add pseudo evelent before -->
        <address class="address">
          <ul class="adress-list list">
            <li class="contacts-item">
              <a class="contacts-item__phone" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-item__email" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <button class="contacts-button__location" type="button">
      Our Locations >
    </button>
    <button class="contacts-button__franchaise" type="button">
      Franchise >
    </button>
  </div>
</section>
