<!-- <section class="customer-reviews">
  <div class="container">
    <h2 class="title visually-hidden">Customer reviews</h2>
    <ul class="review-card list">
      <li class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-1.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
        <p class="review-card__customer">Emily, Los Angeles</p>
      </li>
      <li class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-2.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        </div>
        <p class="review-card__customer">Lisa, New York</p>
      </li>
      <li class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-3.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        </div>
        <p class="review-card__customer">Joana, Kansas City</p>
      </li>
    </ul>
  </div>
</section> -->


<!-- <div class="review-slider">
      <div class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-1.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
        <p class="review-card__customer">Emily, Los Angeles</p>
    </div>
      <div class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-2.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        </div>
        <p class="review-card__customer">Lisa, New York</p>
      </div>
      <div class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-3.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        </div>
        <p class="review-card__customer">Joana, Kansas City</p>
      </div>
    </div> -->

    <!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-1.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
        <p class="review-card__customer">Emily, Los Angeles</p>
    </div>
    </div>
    <div class="swiper-slide">
      <div class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-2.png"
          alt="customer photo portrait"
        />
        <div class="review-card--wrapper">
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        </div>
        <p class="review-card__customer">Lisa, New York</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="review-card__item">
      <img
        class="review-card__img"
        src="./images/reviews/client-3.png"
        alt="customer photo portrait"
      />
      <div class="review-card--wrapper">
      <p class="review-card__review">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
        ipsum primis in nibh vel risus.
      </p>
      </div>
      <p class="review-card__customer">Joana, Kansas City</p>
    </div></div>
    
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar
  <div class="swiper-scrollbar"></div> -->
</div>