<section class="customer-reviews">
  <div class="container">
    <h2 class="title">Customer reviews</h2>
    <ul class="review-card list">
      <li class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-1.png"
          alt="customer photo portrait"
        />
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="review-card__customer">Emily, Los Angeles</p>
      </li>
      <li class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-2.png"
          alt="customer photo portrait"
        />
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="review-card__customer">Lisa, New York</p>
      </li>
      <li class="review-card__item">
        <img
          class="review-card__img"
          src="./images/reviews/client-3.png"
          alt="customer photo portrait"
        />
        <p class="review-card__review">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="review-card__customer">Joana, Kansas City</p>
      </li>
    </ul>
  </div>
</section>
