<footer class="footer">
    <div class="container">
        <p class="footer-logo">homemade ice cream made</p>
        <p class="footer-logo--accent">with passion</p>
        
        <ul class="social-media list">
            <li class="social-media__item">
                <a class="social-media__link link" href="">
                    <svg class="social-media__icon" width="19" height="19"><use href='./images/svg/icons.svg#icon-github'></use></svg>
                </a>
            </li>
            <li class="social-media__item">
                <a class="social-media__link link" href="">
                    <svg class="social-media__icon" width="19" height="19"><use href='./images/svg/icons.svg#icon-telegram'></use></svg>
                </a>
            </li>
            <li class="social-media__item">
                <a class="social-media__link link" href="">
                    <svg class="social-media__icon" width="19" height="19"><use href='./images/svg/icons.svg#icon-facebook'></use></svg>
                </a>
            </li>
        </ul>

        <a class="footer-phone link" href="tel:+610383766284"><span class="footer-text">Feel free to contact</span> +61 (0) 383 766 284</a>
        
        <small class="footer-copyright">&copy;2019 - IceCream.<br> All Rights Reserved.</small>
    </div>
    
</footer>