<header class="header" id="home">
  <div class="container header__container">
    <a href="./index.html" class="logo header__logo">
      <picture class="pictureset">
        <source
          srcset="./images/header/logo.webp 1x, ./images/header/logo@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/header/logo.png 1x, ./images/header/logo@2x.png 2x"
          type="image/png"
        />
        <img class="logo__img" src="./images/header/logo.png" alt="logotype" />
      </picture>
    </a>
    <button
      class="open-menu-btn header__open-menu-btn"
      type="button"
      data-menu-button
      aria-label="mobile menu open button"
      aria-expanded="false"
      aria-controls="mobile-menu-container"
    >
      <svg class="open-menu-btn__icon" width="20" height="13">
        <use href="./images/svg/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button
      class="btn btn_theme_white header__btn"
      type="button"
      data-modal-open
      aria-label="purchase form open button"
      aria-expanded="false"
      aria-controls="modal-window-container"
    >
      Buy now
      <svg class="btn__icon btn__icon_theme_white" width="8" height="10">
        <use href="./images/svg/icons.svg#icon-button-arrow"></use>
      </svg>
    </button>
    <div
      class="backdrop mobile-menu__backdrop is-hidden is-close"
      data-menu
      data-backdrop
    >
      <div class="mobile-menu" id="mobile-menu-container">
        <div class="mobile-menu__container">
          <button
            class="mobile-menu__close-btn"
            type="button"
            data-menu-close
            aria-label="close button"
          >
            <svg class="mobile-menu__close-icon" width="14" height="14">
              <use href="./images/svg/icons.svg#icon-close"></use>
            </svg>
          </button>
          <button
            class="btn btn_theme_white mobile-menu__btn"
            type="button"
            data-menu-modal-open
            aria-label="purchase form open button"
            aria-expanded="false"
            aria-controls="modal-window-container"
          >
            Buy now
            <svg class="btn__icon btn__icon_theme_white" width="8" height="10">
              <use href="./images/svg/icons.svg#icon-button-arrow"></use>
            </svg>
          </button>
          <nav class="navigation">
            <ul class="navigation__list list">
              <li class="navigation__item">
                <a
                  href="#home"
                  class="navigation__link navigation__link_1 link"
                  data-enable-accent
                  >Home</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#about"
                  class="navigation__link navigation__link_2 link"
                  data-enable-accent
                  >About us</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#about"
                  class="navigation__link navigation__link_2 link"
                  data-enable-accent
                  >How it’s made?</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#products"
                  class="navigation__link navigation__link_3 link"
                  data-enable-accent
                  >Our products</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#contact"
                  class="navigation__link navigation__link_4 link"
                  data-enable-accent
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="stop" class="scrollTop">
      <span><a class="link" href="#">Top</a></span>
    </div>
  </div>
</header>
