<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo header__logo">
      <img
        class="logo__img"
        src="./images/logo.png"
        alt="logotype"
        width="199"
        height="50"
      />
    </a>
    <button
      class="open-menu-btn header__open-menu-btn"
      type="button"
      data-menu-button
      aria-label="Mobile menu open button"
      aria-expanded="false"
      aria-controls="mobile-menu-container"
    >
      <svg class="open-menu-btn__icon" width="20" height="12">
        <use class="open-menu-btn__icon_open" href="#"></use>
      </svg>
    </button>
    <button class="btn btn_theme_white header__btn" type="button">
      Buy now
      <svg class="btn__icon btn__icon_theme_white" width="8" height="10">
        <use href="./images/svg/icons.svg#icon-button-arrow"></use>
      </svg>
    </button>
    <div
      class="backdrop mobile-menu__backdrop is-hidden is-close"
      data-menu
      data-backdrop
    >
      <div class="mobile-menu" id="mobile-menu-container">
        <div class="mobile-menu__container">
          <button class="mobile-menu__close-btn" type="button" data-menu-close>
            <svg class="mobile-menu__close-icon" width="14" height="14">
              <use href="#"></use>
            </svg>
          </button>
          <button class="btn btn_theme_white mobile-menu__btn" type="button">
            Buy now
            <svg class="btn__icon btn__icon_theme_white" width="8" height="10">
              <use href="./images/svg/icons.svg#icon-button-arrow"></use>
            </svg>
          </button>
          <nav class="navigation">
            <ul class="navigation__list list">
              <li class="navigation__item">
                <a
                  href="#Home"
                  class="navigation__link link navigation__link_accent"
                  data-enable-accent
                  >Home</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#About"
                  class="navigation__link link"
                  data-enable-accent
                  >About us</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#how-it-made"
                  class="navigation__link link"
                  data-enable-accent
                  >How it’s made?</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#products"
                  class="navigation__link link"
                  data-enable-accent
                  >Our products</a
                >
              </li>
              <li class="navigation__item">
                <a
                  href="#Contact"
                  class="navigation__link link"
                  data-enable-accent
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
