<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--accent">passion</span>
    </h1>
    <picture>
      <source
        srcset="
          ./images/hero/hero-cone-desktop.webp    1x,
          ./images/hero/hero-cone-desktop@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero/hero-cone-desktop.png    1x,
          ./images/hero/hero-cone-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />

      <source
        srcset="
          ./images/hero/hero-cone-tablet.webp    1x,
          ./images/hero/hero-cone-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/hero-cone-tablet.png    1x,
          ./images/hero/hero-cone-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./images/hero/hero-cone-mob.webp    1x,
          ./images/hero/hero-cone-mob@2x.webp 2x
        "
        type="image/webp"
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/hero/hero-cone-mob.png    1x,
          ./images/hero/hero-cone-mob@2x.png 2x
        "
        media="(max-width: 767px)"
      />

      <img
        class="hero__cone"
        src="./images/hero/hero-cone-mob.png"
        alt="ice cream cone"
      />
    </picture>

    <ul class="hero__btn-list list">
      <li class="hero__btn-list-item">
        <button type="button" class="btn btn_theme_cherry hero__btn">
          Products
        </button>
      </li>
      <li class="hero__btn-list-item">
        <button type="button" class="btn btn_theme_white hero__btn">
          How it’s made?
        </button>
      </li>
    </ul>
    <div class="hero__ellipse"></div>
    <div class="hero__additional-content">
      <picture>
        <source
          srcset="
            ./images/hero/milk-desktop.webp    1x,
            ./images/hero/milk-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero/milk-desktop.png    1x,
            ./images/hero/milk-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/hero/milk-tablet.webp    1x,
            ./images/hero/milk-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/milk-tablet.png    1x,
            ./images/hero/milk-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img
          class="hero__milk"
          src="./images/hero/milk-tablet.png"
          alt="jug of milk"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./images/hero/hero-girl-desktop.webp    1x,
            ./images/hero/hero-girl-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero/hero-girl-desktop.png    1x,
            ./images/hero/hero-girl-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/hero/hero-girl-tablet.webp    1x,
            ./images/hero/hero-girl-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/hero-girl-tablet.png    1x,
            ./images/hero/hero-girl-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img
          class="hero__girl"
          src="./images/hero/hero-girl-tablet.png"
          alt="girl with ice cream"
        />
      </picture>

      <ul class="hero__list list">
        <li class="hero__list-item">
          16<span class="hero__list-text">cafes</span>
        </li>
        <li class="hero__list-item">
          23<span class="hero__list-text">food trucks</span>
        </li>
      </ul>

      <div class="hero__product-descr">
        <p class="hero__short-product-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="circle-btn hero__circle-btn">
          <svg class="circle-btn__icon" width="5" height="5">
            <use href="./images/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
