<!--Products section-->
<section class="products" id="products">
  <div class="container products__container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__header">Products</h2>

    <ul class="products__cards list">
      <li class="product product--ice-cone">
        <img
          class="product__image"
          src="./images/delete-me-ice-cream-cone.png"
          alt="Ice-cream cone"
        />
        <h3 class="product__caption">ice cream</h3>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product__show-more-button">-></button>
      </li>
      <li class="product product--ice-coffee">
        <img
          class="product__image"
          src="./images/delete-me-ice-coffee.png"
          alt="Ice coffee glass"
        />
        <h3 class="product__caption">ice coffee</h3>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product__show-more-button">-></button>
      </li>
      <li class="product product--milkshake">
        <img
          class="product__image"
          src="./images/delete-me-milkshake.png"
          alt="Milkshake glass"
        />
        <h3 class="product__caption">milkshakes</h3>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product__show-more-button">-></button>
      </li>
    </ul>
  </div>
</section>
