<!--Products section-->
<section class="products" id="products">
  <div class="container products__container">
    <p class="subtitle">100% natural</p>
    <h2 class="title products__title">Products</h2>

    <ul class="products__cards list">
      <li id="ice-cone" class="product product--ice-cone">
        <button
          onclick="location.href='#ice-cone-overview'"
          class="product__close"
          aria-label="products details close button"
        >
          <svg class="modal__close-icon" width="14" height="14">
            <use href="./images/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
        <picture id="ice-cone-overview" class="pictureset">
          <source
            srcset="
              ./images/products/cone-desktop.webp    1x,
              ./images/products/cone-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/cone-desktop.png    1x,
              ./images/products/cone-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/products/cone-tablet.webp    1x,
              ./images/products/cone-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/cone-tablet.png    1x,
              ./images/products/cone-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/products/cone-mob.webp    1x,
              ./images/products/cone-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/cone-mob.png    1x,
              ./images/products/cone-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="product__image"
            src="./images/products/cone-desktop.png"
            alt="Ice-cream cone"
            loading="lazy"
          />
        </picture>
        <h3 class="product__caption">ice cream</h3>
        <p class="product__description">
          Our ice-cream is a&nbsp;fine blend of colourful unicorns’ poo grazing
          on&nbsp;a&nbsp;rainbow. Unique flavour, unforgettable experience.
          Taste and fly away!
        </p>
        <p class="product__full-description">
          Carrot cake ice cream cookie pastry cotton candy carrot cake bear
          claw. Apple pie topping apple pie donut. Lemon drops wafer sweet ice
          cream candy canes danish. Cotton candy bear claw bonbon liquorice
          toffee biscuit sweet candy canes. Lemon drops candy cheesecake
          chocolate bar lollipop cookie dragée cake cotton candy. Cupcake
          macaroon chocolate bar gummi bears gummi bears biscuit pie. Cake bear
          claw muffin pie chocolate bar. Pie chocolate bar sugar plum oat cake
          candy apple pie fruitcake. Pudding cake cake bonbon cookie croissant.
          Chocolate bar pudding wafer jelly beans jelly-o sweet icing cotton
          candy. Soufflé toffee cotton candy dessert chocolate pudding cake
          dragée carrot cake. Fruitcake candy canes chocolate cake sweet. Pie
          tiramisu liquorice topping fruitcake danish.
        </p>
        <button
          type="button"
          onclick="location.href='#ice-cone'"
          class="circle-btn product__btn"
          aria-label="products details open button"
        >
          <svg class="circle-btn__icon" width="11" height="10">
            <use href="./images/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li id="ice-coffee" class="product product--ice-coffee">
        <button
          onclick="location.href='#ice-coffee-overview'"
          class="product__close"
          aria-label="products details close button"
        >
          <svg class="modal__close-icon" width="14" height="14">
            <use href="./images/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
        <picture id="ice-coffee-overview" class="pictureset">
          <source
            srcset="
              ./images/products/ice-coffee-desktop.webp    1x,
              ./images/products/ice-coffee-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/ice-coffee-desktop.png    1x,
              ./images/products/ice-coffee-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/products/ice-coffee-tablet.webp    1x,
              ./images/products/ice-coffee-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/ice-coffee-tablet.png    1x,
              ./images/products/ice-coffee-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/products/ice-coffee-mob.webp    1x,
              ./images/products/ice-coffee-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/ice-coffee-mob.png    1x,
              ./images/products/ice-coffee-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="product__image"
            src="./images/products/ice-coffee-desktop.png"
            alt="Ice coffee glass"
            loading="lazy"
          />
        </picture>
        <h3 class="product__caption">ice coffee</h3>
        <p class="product__description">
          Cools your body temperature lower than you ever need to&nbsp;store
          a&nbsp;Pfizer vaccine. Our coffee jab is invigorating in
          a&nbsp;big&nbsp;way. –273C°&nbsp;of pleasure
        </p>
        <p class="product__full-description">
          Halvah cake oat cake sweet roll chupa chups donut. Cake jelly marzipan
          chupa chups cheesecake caramels candy chocolate. Pastry macaroon
          cotton candy chocolate chocolate cake sesame snaps sweet roll jelly-o.
          Sweet roll tart chocolate ice cream apple pie tart chocolate cake
          croissant chupa chups. Pudding jujubes biscuit biscuit tart. Powder
          soufflé cake chocolate cake bear claw cake macaroon macaroon cookie.
          Sweet gummi bears cheesecake. Candy canes cookie marzipan sweet.
          Marzipan gummies cheesecake halvah cheesecake cake pudding muffin
          carrot cake. Oat cake cake macaroon. Carrot cake sweet gingerbread
          gummi bears. Cake cake sesame snaps cupcake pie pie tiramisu candy
          canes. Tiramisu sweet roll danish. Tootsie roll jelly beans liquorice
          sugar plum.
        </p>
        <button
          type="button"
          onclick="location.href='#ice-coffee'"
          class="circle-btn product__btn"
          aria-label="products details open button"
        >
          <svg class="circle-btn__icon" width="11" height="10">
            <use href="./images/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li id="milkshake" class="product product--milkshake">
        <button
          onclick="location.href='#milkshake-overview'"
          class="product__close"
          aria-label="products details close button"
        >
          <svg class="modal__close-icon" width="14" height="14">
            <use href="./images/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
        <picture id="milkshake-overview" class="pictureset">
          <source
            srcset="
              ./images/products/milkshake-desktop.webp    1x,
              ./images/products/milkshake-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/milkshake-desktop.png    1x,
              ./images/products/milkshake-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/products/milkshake-tablet.webp    1x,
              ./images/products/milkshake-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/milkshake-tablet.png    1x,
              ./images/products/milkshake-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/products/milkshake-mob.webp    1x,
              ./images/products/milkshake-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/milkshake-mob.png    1x,
              ./images/products/milkshake-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="product__image"
            src="./images/products/milkshake-desktop.png"
            alt="Milkshake glass"
            loading="lazy"
          />
        </picture>
        <h3 class="product__caption">milkshakes</h3>
        <p class="product__description">
          Our milkshakes are cooler than beer and longer than beard. Shake your
          milkshake then shake your body. Or&nbsp;milk your buddy (if you have
          one)
        </p>
        <p class="product__full-description">
          Topping tiramisu biscuit sweet roll carrot cake wafer biscuit
          marshmallow. Sesame snaps pie powder sweet. Pie gingerbread dessert
          lollipop caramels ice cream. Jelly dessert lollipop liquorice bear
          claw candy canes lemon drops sweet. Danish croissant pie cookie muffin
          cake sugar plum pudding. Cotton candy tart chocolate cake danish.
          Wafer chocolate gingerbread marshmallow. Oat cake jelly icing bear
          claw sweet roll marzipan. Chocolate bar liquorice cupcake fruitcake
          cookie gummi bears tootsie roll. Tart topping lemon drops ice cream
          jelly-o lollipop cake. Tart macaroon tootsie roll chocolate bar
          brownie. Carrot cake jelly-o toffee pudding candy canes toffee.
          Gingerbread jelly-o pie. Cookie pastry bonbon halvah sweet brownie.
        </p>
        <button
          type="button"
          onclick="location.href='#milkshake'"
          class="circle-btn product__btn"
          aria-label="products details open button"
        >
          <svg class="circle-btn__icon" width="11" height="10">
            <use href="./images/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
