@media screen and (max-width: 1199px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $backdrop-background;
    z-index: 100;
    transition: opacity 250ms linear, visibility 250ms linear;
    overflow: auto;

    &.is-open {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }

    &.is-close {
      transition: visibility 250ms linear 250ms,
        pointer-events 250ms linear 250ms, opacity 250ms linear 250ms;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  // класс,  который мы будем вешать на боди, чтобы отключить скрол по странице при открытии модального окна и мобильного меню
}

.is-lock {
  overflow: hidden;
}
