.callback {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.callback::after {
  content: '...';
  @include _fs_lh_ls(20, 20, 0.2);
  color: $light-background;
  display: block;
}

.callback__title {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: $secondary-font;
  font-weight: 400;
  @include _fs_lh_ls(20, 30, 0);
  letter-spacing: 0.06em;
  color: $second-cards-fill;
}

.callback__btn {
  align-self: center;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  border: none;
  border-radius: 16px;
  font-family: $secondary-font;
  @include _fw_fs_lh_ls(400, 20, 30, 0.05);
  color: $first-accent-color;
  background-color: $first-cards-fill;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $second-cards-fill;
  }
}

@media screen and (min-width: $mobile) {
  .callback {
    width: 480px;
  }
}

@media screen and (min-width: $tablet) {
  .callback {
    width: 600px;
  }
}
