.modal {
  position: absolute;
  z-index: 30;
  top: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 4px;
  background-image: repeating-radial-gradient(
    circle,
    $secondary-brand-color,
    $secondary-brand-color 30px,
    $accent-background 32px,
    $accent-background 30px
  );
  transform: translateY(0);
  transition: transform 250ms linear;
  overflow: auto;
}

.is-hidden {
  .modal {
    transform: translateY(-100%);
  }
}

.modal__close-btn {
  position: absolute;
  top: 23px;
  right: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  stroke: $second-accent-color;
  cursor: pointer;
  line-height: 0;
}

.modal__close-icon {
  stroke: $first-accent-color;
}
