.modal-btn {
  display: flex;
  align-items: baseline;
  justify-content: center;

  padding-left: 49px;
  padding-right: 49px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: $main-brand-color;

  border: none;
  border-radius: 22px;
  background-color: $secondary-text-color;
  cursor: pointer;
  transition: color 200ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: $secondary-text-color;
    background-color: $first-accent-color;
  }
}

.modal-btn__icon {
  background-color: black;
  margin-left: 28px;
}

// @media screen and (min-width: $desktop) {
//   .modal-btn {
//     display: none;
//   }
// }
