.scrollTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  background-color: $main-brand-color;
  color: $secondary-text-color;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
