.contacts {
  padding-top: 0px;
  background-color: $light-background;

  @media screen and (min-width: 480px), (min-width: 320px) {
    margin-top: 170px;
  }

  @media screen and (min-width: 480px) {
    margin-top: 170px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 197px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 234px;
  }
}

.contacts .container {
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    // margin-left: -20px;
    // margin-top: -20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -31px;
  }
}

.contacts-list .contacts-item {
  width: 220px;
}

.contacts-item {
  padding: 42px 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: $secondary-text-color;

  @media screen and (min-width: 480px), (min-width: 320px) {
    margin-top: -84px;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 31px;
    max-height: 544px;
    margin-top: -78px;
    margin-left: 20px;

    flex-basis: calc((100% - 60px) / 4);
  }

  @media screen and (min-width: 1200px) {
    padding: 52px 43px;
    min-width: 330px;
    min-height: 572px;
    margin-left: 31px;
    margin-top: -102px;
  }
}

.contacts-item:not(:last-child) {
  @media screen and (min-width: 320px) {
    margin-bottom: 104px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.contacts-item__wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.address {
  padding-top: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
  }
}

.contacts-item__cafe {
  background: $first-cards-fill;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  font-weight: 500;
  color: $secondary-text-color;

  @media screen and (min-width: 480px) {
    width: 80px;
  }

  @media screen and (min-width: 768px) {
    width: 73px;
  }
}

.contacts-item__foodtruck {
  text-align: center;
  text-transform: uppercase;
  background-color: $second-cards-fill;
  border-radius: 4px;
  line-height: 1.33;
  font-weight: 500;
  color: $secondary-text-color;

  @media screen and (min-width: 480px) {
    width: 130px;
  }

  @media screen and (min-width: 768px) {
    width: 138px;
  }
}

.contacts-item__description {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: $description-text-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts-item__town {
  padding-bottom: 10px;
}

.contacts-item__town,
.contacts-item__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts-item__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $secondary-brand-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts-item__time:not(:last-child) {
  padding-bottom: 10px;
}

.address-item__phone,
.address-item__email {
  color: $description-text-color;
  font-weight: 500;
  line-height: 1.5;
  font-size: 12px;
  font-style: normal;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.contacts-button__location {
  width: 162px;
  height: 44px;
  padding-left: 17px;
  padding-right: 30px;
  position: relative;
  background-color: $main-brand-color;
  color: $secondary-text-color;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 15.5px;
    width: 192px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 15.5px;
    width: 198px;
  }
}

.contacts-button__franchaise {
  width: 162px;
  height: 44px;
  padding-left: 32px;
  padding-right: 48px;
  position: relative;
  color: $main-brand-color;

  &:hover,
  &:focus {
    background-color: $second-accent-color;
  }
  @media screen and (min-width: 768px) {
    width: 174px;
  }
  @media screen and (min-width: 1200px) {
    width: 180px;
  }
}

.icon-arrow-location {
  position: absolute;
  width: 5px;
  height: 10px;
  fill: $secondary-text-color;
  top: 18px;
  right: 18px;

  @media screen and (min-width: 768px) {
    right: 34px;
  }
  @media screen and (min-width: 1200px) {
    right: 36px;
  }
}

.icon-arrow-franchise {
  position: absolute;
  width: 6px;
  height: 11px;
  fill: $main-brand-color;
  top: 18px;
  right: 30px;

  @media screen and (min-width: 768px) {
    right: 38px;
  }
}

.milk-drops {
  @media screen and (min-width: 1200px) {
    position: absolute;
    max-width: 1190px;
    margin-left: -70px;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
