.footer{
    background-color: $light-background;
    margin-top: 113px;
}


.footer-logo{
    font-family: $secondary-font;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $secondary-brand-color;
    max-width: 232px;
}

.footer-logo--accent{
    font-family: $secondary-font;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-brand-color;
    max-width: 200px;
}

.social-media{
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
    margin-bottom: 46px;
}
.social-media__item{
    background-color: $social-icons-fill;
    border-radius: 50%;
    &:not(:last-child){
    margin-right: 28px;}
    &:hover,
    &:focus{
        background-color: $main-brand-color;

    }
}
.social-media__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.social-media__icon{
    fill:$secondary-text-color;
}
.footer-text{
    color: $main-text-color;
}
.footer-phone{
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    text-align: right;
    color: $main-brand-color;
    margin-bottom: 65px;
}

.footer-copyright{
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: $description-text-color;
    padding-bottom: 25px;
    &::before{
        content: '';
        display: block;
        position: relative;
        width: calc(100% + 40px);
        height: 1px;
        background:#E1E1E1;
        top: -22px;
        left: -20px;
    }

}