.products {
  text-align: center;
  padding-top: 121px;

  &__subtitle {
    margin-bottom: 15px;
    font-family: $secondary-font;
    color: $secondary-brand-color;
    text-transform: uppercase;
    @include _fw_fs_lh_ls(400, 18, 20.6);
  }
  &__header {
    font-family: $secondary-font;
    color: $main-brand-color;
    text-transform: uppercase;
    @include _fw_fs_lh_ls(400, 34, 39, 0.04);
  }
  &__cards {
    margin-bottom: 98px;
  }
}
.product {
  width: 100%;
  position: relative;
  margin-top: calc((252 * (100vw - 70px) / 249) * (113 / 249) + 31px);
  margin-bottom: 17px;
  padding: 0 40px 40px;
  background-color: $accent-background;
  border-radius: 24px;

  &--ice-coffee {
    background-color: $first-cards-fill;
  }
  &--milkshake {
    background-color: $second-cards-fill;
  }

  &__image {
    width: calc(100vw - 70px);
    margin: 0 0 22px -25px;
    // пропорция высчитана, исходя из соотношения сторон изображения, его отступов от края экрана, родителя, а также коэффициента вертикального смещения
    transform: translateY(calc((-252 * (100vw - 70px) / 249) * (113 / 249)));
    position: absolute;
  }
  &__caption {
    margin-bottom: 36px;
    padding-top: calc(
      (252 * (100vw - 70px) / 249) * ((252 - 113) / 249) + 22px
    );
    font-family: $secondary-font;
    color: $secondary-text-color;
    text-transform: uppercase;
    @include _fw_fs_lh_ls(400, 20, 22.9, 0.04);
    &::after {
      content: '...';
      display: block;
      margin-top: 16px;
      font-size: 27px;
      letter-spacing: 0.08em;
    }
  }
  &__description {
    margin-bottom: 30px;
    font-family: $main-font;
    color: $secondary-text-color;
    @include _fw_fs_lh_ls(700, 14, 22, 0.04);
  }
}
@media screen and (min-width: $mobile) {
  .product {
    margin-top: 219px;
    &__image {
      width: 410px;
      transform: translateY(-188px);
    }
    &__caption {
      padding-top: 254px;
    }
  }
}
@media screen and (min-width: $tablet) {
  .products {
    &__subtitle {
      @include _fs_lh_ls(26, 29.8);
    }
    &__header {
      @include _fs_lh_ls(48, 55, 0.04);
      margin-bottom: 150px;
    }
    &__cards {
      display: flex;
      margin-bottom: 112px;
      padding: 0 4px;
    }
  }
  .product {
    margin: 0 10px;
    padding: 0 10px 40px;

    &__image {
      width: 100%;
      margin: 0 0 22px -8px;
      transform: translateY(-102px);
    }
    &__caption {
      padding-top: 152px;
      margin-bottom: 30px;
    }
    &__description {
      @include _fw_fs_lh_ls(700, 14, 24.6, 0.04);
      margin-bottom: 40px;
    }
  }
}

@media screen and (min-width: $desktop) {
}
